@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Modak&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
    background: #94a3b8;
    font-family: "Radio Canada", sans-serif;
    color: white;
    font-size: 1em;
}

input::placeholder {
    color: #94a3b8;
}

/* canvas{
    width: 100%;
    height: 100%;
} */

#formDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#usernameInput{
    font-family: "Radio Canada", sans-serif;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #475569;
    color: #cbd5e1;
    font-size: 1em;
    margin: 10px;
}

#colorInput{
    background: #475569;
}

#submitButton{
    font-family: "Radio Canada", sans-serif;
    margin-top: 10px;
    padding: 10px 24px;
    border-radius: 100px;
    font-size: 1em;
    border: none;   
    background-image: linear-gradient(
        to right,
        rgb(6, 119, 212),
        rgb(109, 59, 246)
    );
    color: white;
    cursor: pointer;
    transform: scale(1);
    transition: all 300ms;

    &:hover{
        transform: scale(1.2);
        filter: brightness(150%);
    }
}

.public-chat-container{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    margin-bottom: 60px;
    opacity: 0.4;
    /* height: 300px; */
    height: 30%;
    /* width: 500px; */
    width: 40%;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    /* border-radius: 8% 8% 0px 0px; */
    /* background-color: rgba(108, 119, 218, 0.2); */
    font-size: 1em;
    padding: 15px 25px;
    padding-left: 45px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-wrap: break-word;
    /* scrollbar-color: white black; */
    scrollbar-width: none;

    &::-webkit-scrollbar{
        display: none;
    }
}

.public-message-container{
    position: absolute;
    box-sizing: border-box;
    width: 40%;
    bottom: 0;
    left: 0;
    margin: 20px;
    display: block;
}

.publicMessageInput{
    display: none;
}

.public-send-button{
    right: 0;
    bottom: 0;
    margin: 10px;
    display: none;
}

.public-input-close{
    right: 0;
    bottom: 40px;
    margin: 10px;
    display: none;   
}

.private-input-close{
    right: 0;
    bottom: 40px;
    margin: 10px;
    display: none;   
}

.private-chat-container{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    margin-bottom: 60px;
    margin-right: 15%;
    opacity: 0.4;
    height: 30%;
    width: 40%;
    font-size: 1em;
    padding: 15px 25px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-wrap: break-word;
    scrollbar-width: none;

    &::-webkit-scrollbar{
        display: none;
    }
}

.private-message-container{
    position: absolute;
    box-sizing: border-box;
    width: 40%;
    bottom: 0;
    right: 0;
    margin: 20px;
    margin-right: 15%;
    display: block;
}

.privateMessageInput{
    display: none;
}

.private-send-button{
    right: 0;
    bottom: 0;
    margin: 10px;
    display: none;
}

.messageInput{
    font-family: "Radio Canada", sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 500px; */
    width: 100%;
    padding: 10px 20px;
    padding-right: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 1em;
    box-sizing: border-box;
    display: none;

    &:focus{
        outline-width: 0;
    }
}

.sendButton, .options-item{
    position: absolute;
    width: 25px;
    color: white;
    transform: scale(1);
    transition: all 300ms;

    &:hover{
        transform: scale(1.2);
        color: rgb(67, 167, 248);
        cursor: pointer;
    }
}

.closeInput{
    position: absolute;
    width: 20px;
    opacity: 0.8;
    color: white;
    transform: scale(1);
    transition: all 300ms;

    &:hover{
        transform: scale(1.2);
        color: rgb(67, 167, 248);
        cursor: pointer;
    }
}

.shoutout-button{
    position: absolute;
    bottom: 80px;
    left: 30px;
    /* pointer-events: none; */
    /* margin: 80px 30px; */
}

.public-chat-button{
    display: none;
    bottom: 0;
    left: 0;
    margin: 30px 30px;
}

.private-chat-button, .private-chat-button-close{
    display: none;
    bottom: 0;
    right: 0;
    margin: 30px 30px;
    width: 30px;
}

.private-chat-button-close{
    display: none;
    width: 25px;
    margin: 25px 34px;
    
    &:hover{
        color: rgb(255, 88, 88);
    }
}

.options-container{
    position: absolute;
    box-sizing: border-box;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.userlist-container {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5%;
    margin-right: 2%;
    width: 15%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    overflow-y: auto;
    /* border: 1px solid white; */
    display: none;
    overflow-y: scroll;
    overflow-wrap: break-word;
    scrollbar-width: none;

    &::-webkit-scrollbar{
        display: none;
    }
}

.users {
    margin: 5px;
    font-size: 1em;
    /* border-bottom: 1px solid #222; */
    padding: 10px;
    cursor: pointer;
    /* border-left: 2px solid rgba(103, 187, 255, 0.5); */

    &:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.users.new-message{
    border-left: 2px solid rgba(103, 187, 255, 0.5);
}

.shoutout-container{
    position: absolute;
    box-sizing: border-box;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid white; */
    pointer-events: none;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px black;
}

.shoutout-input-container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.shoutout-input-box{
    position: absolute;
    width: 30%;
    height: 10%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 5px 5px black;
    /* overflow: hidden; */
}

.shoutout-input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 10px;
    padding-right: 35px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1em;

    &:focus{
        outline-width: 0;
    }
}

.shoutout-send-button{
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 35px;
    margin-right: 25px;
}

.shoutout-input-close{
    width: 20px;
    color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
    margin: -40px;

    &:hover{
        color: rgb(177, 51, 51);
    }
}

.top-options-container{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    display: none;
    /* flex-direction: column; */
}

.change-room-button{
    position: absolute;
    color: white;
    width: 25px;
    /* margin: 30px; */
    top: 40px;
    left: 30px;
}

.change-room-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.change-room-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.create-room-button{
    width: 50%;
    padding: 5px;
    margin: 5% 25%;
    font-family: "Radio Canada", sans-serif;
    border-radius: 100px;
    font-size: 1em;
    border: none;   
    background-image: linear-gradient(
        to right,
        rgb(6, 119, 212),
        rgb(109, 59, 246)
    );
    color: white;
    cursor: pointer;
    transform: scale(1);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 300ms;

    &:hover{
        transform: scale(1.1);
        filter: brightness(150%);
    }
}

.join-room-input{
    width: 50%;
    padding: 5px;
    margin: 3% 5% 5% 15%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    font-family: "Radio Canada", sans-serif;
    font-size: 1em;
    border-radius: 10px;
    transform: scale(1);
    transition: all 300ms;

    &:hover{
        transform: scale(1.1);
    }
}

.join-room-container{
    display: flex;
    flex-direction: row;
}

.join-room-button{
    padding: 5px;
    width: 20%;
    margin: 3% 0% 5% 0%;
    font-size: 0.8em;
    font-family: "Radio Canada", sans-serif;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    font-size: 1em;
    border: none;   
    background-image: linear-gradient(
        to right,
        rgb(6, 119, 212),
        rgb(109, 59, 246)
    );
    color: white;
    cursor: pointer;
    transform: scale(1);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 300ms;

    &:hover{
        transform: scale(1.1);
        filter: brightness(150%);
    }
}

.change-room-close{
    right: 0;
    margin: -40px;

    &:hover{
        color: red;
    }
}

.room-text-copied{
    display:none;
}

@media screen and (max-width: 500px) {
    .userlist-container{
        width: 25%;
    }

	.shoutout-input-box{
        width: 50%;
    }

    .shoutout-send-button{
        margin-top: 20px;
    }

    .change-room-box{
        width: 70%;
    }
}